
#user_inp {
    position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

input[type=text] {
    font-family: 'Roboto Mono', monospace;
    color: #1f1f1e;
    font-size: 16px;
    width: 800px;
    padding: 12px 20px;
    border: 4px solid #555; /*border: 4px solid #555;*/
    transition: border-color 0.2s linear;
    background-color: white;	/*#1C1C1C*/
    outline: none;
    box-sizing: border-box;
}

input[type=text]:focus {border-color: grey;}

#fileBlock {
	position: relative;
	/*margin: auto;*/
	width: 0px;
	float: center;
	/*border: 4px solid grey;*/
	padding: 1%;
}

#fileBlock p {
    /*display: inline-block;
    word-wrap: break-word;*/
    white-space: nowrap;
    margin: 0px;
    font-size: 16px;
}

.container {
	width: 1000px;
	position: relative;
    margin: auto;
	margin-left: auto;
    margin-right: auto;
	float: center;
	overflow: visible;
    /*border: 4px solid grey;*/
    /*padding: 1%;*/
}

h1 {
	margin: auto;
	position: relative;
	float: center;
	text-align: center;
	font-family: Helvetica, sans-serif;
	/*padding-bottom: 1em;*/
}

.about {
	font-family: Helvetica, sans-serif;
    color: #1f1f1e;
    font-size: 20px;
    padding: 8px 20px;
    border: 4px solid #555; /*border: 4px solid #555;*/
    background-color: white;	/*#1C1C1C*/
    outline: none;
    box-sizing: border-box;
	position: relative;
	margin: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.about p {
	margin: 2px;
	font-size: 20px;
}

#form-box {
	margin-top: 1em;
	margin-bottom: 1em;
}

#fileBlock {
	/*insert styles here*/
}


/*context menu*/
.context-menu {
	position: absolute;
	text-align: center;
	background: lightgray;
	border: 1px solid black;
}

.context-menu ul {
	padding: 0px;
	margin: 0px;
	min-width: 150px;
	list-style: none;
}

.context-menu ul li {
	padding-bottom: 6px;
	padding-top: 6px;
	border: 1px solid black;
}

.context-menu ul li:hover {
	background: darkgray;
}

.hidden {display:none;}


